# ==========================================
# AfyaGuide - Git Ignore
# ==========================================

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp

# Excel temporary files
~$*

# Logs
*.log